/* line 1 */
body {
  font-family: Verdana;
  font-size: 10pt;
  background: #ffff;
  background: url(./../images/background.jpg);
  background-repeat: no-repeat; 
}

#scorebox{
	height: 100px;
	width: 300px;
	z-index: 88;
	margin-top: -630px;
	position: relative;
	margin-left: 800px;

}
#canvas { background:url(./images/background.jpg) }
